{% extends "layouts/base.html" %}

{% block title %} Page User {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<form method="post" action="{% url 'page-user' %}" enctype="multipart/form-data">
  {% csrf_token %}
<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Edit Profile</h5>
      </div>
      <div class="card-body">
        
          <div class="row">
            <div class="col-md-5 pr-md-1">
              <div class="form-group">
                <label>UserID (disabled)</label>
                <input type="text" class="form-control" disabled="" value="{{ request.user.id }}">
              </div>
            </div>
            <div class="col-md-3 px-md-1">
              <div class="form-group">
                <label>UserName</label>
                <input type="text" name ="UserName" class="form-control" class="input">
              </div>
            </div>
            <div class="col-md-4 pl-md-1">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" name="email" class="form-control"  class="input">
              </div>
            </div>
            <div class="col-md-4 pl-md-3">
              <div class="form-group">
                <label for="exampleInputEmail1">New Password</label>
                <input type="text" class="form-control" name="password1"  >
              </div>
            </div>
            <div class="col-md-4 pl-md-1">
              <div class="form-group">
                <label for="exampleInputEmail1">Confirm New Password</label>
                <input type="text" class="form-control" name="password2" >
              </div>
            </div>
            <div class="col-md-12">
              <div class="input-group-prepend">
                <span class="input-group-text">Upload</span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input" name ="avatar" id="inputGroupFile01">
                <label class="custom-file-label" for="inputGroupFile01">Choose Avatar</label>
              </div>
            </div>
            
     
            
            
          </div>
          
        </form>
       
      </div>
      <div class="card-footer">
        <button type="submit" name="edit_teacher" class="btn btn-fill btn-primary">Save</button>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-user">
      <div class="card-body">
        <p class="card-text">
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <a href="javascript:void(0)">
              <img class="avatar" src="{{teacher.avatar.url}}" >
              <h5 class="title">
                {{ request.user.username }}
              </h5>
            </a>
            <p class="description">
              {{ request.user.email }}
            </p>
          </div>
        </p>
        
      </div>
     
      </div>
    </div>
  </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
